/* Body */
body{
    max-width: 1366px;
}

                                                   /* Header */

header{
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
    border: 2px solid yellow;
    margin-bottom: 0px;
    height: 440px;
}
ul{
    list-style: none;
    display: flex;
    gap: 34px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.h-d-1{
    /* margin-left: 120px; */
}

.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Must delete this line  */

    border: 2px solid red; 
    height: 380px;
    
}
.header-text-1{
    font-size: 30px;
}

/* Banner image */

.banner-image{

    margin-top: 180px;
    
    
}
.b-i-c{
    width: 350px;
    height: 475px;
    float: right;
}

.b-i-camera{
    width:300px;
    height: 320px;
    position: relative;
    left: 315px;
    top: 80px;
    
}

.sp-img{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 60px;
    justify-content: center;
    


    /* Must delete */
    border: 2px solid green;
    margin-left: 45px;
    margin-right: 45px;
    height: 50px;
    align-items: center;
    gap: 40px;
    
}


                                            /* Main  */
main{
    margin-top: 150px;

    border: 2px solid blue;
    max-width: 1366px;
}

.item-section{
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid black;

}



.headline{
    text-align: center;
}

.item-cards{
    border: 2px solid goldenrod;
    padding-left: 14px;
    padding-right: 15px;
    padding-top: 17px;
    /* width: 250px; */

    
}

.item-img{
    width: 100%;

}

.ratings{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info{
    margin: 0;
}

.item-name{
    font-size: 28px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-rate{
    font-size: 24px;
    margin: 0;
}

.item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
    /* justify-content: space-between; */
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    /* margin-left: 10px; */
    margin: 0 20px;
}


.see-more{
    text-align: right;
    margin-right: 20px;
}

.gear-section{
    margin-left: 170px;
    margin-right: 170px;
    border: 2px solid violet;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}





                                                        /* Footer */
.footer-part{
    border: 2px solid greenyellow;
    
    text-align: center;
    background-color: rgba(4, 30, 66, 1);
    color: white;
}

.footer-section{

    margin-top: 30px;
    margin-bottom: 30px;
}


.footer-div h3{
    font-size: 24px;
    /* margin: 0; */
    margin-bottom: 5px;
}

.footer-div h4{
    font-size: 13px;
    margin: 5px;
}